numpy>=1.0.0,<2.0.0
opencv-contrib-python-headless
pyntcore
robotpy-cscore
robotpy-wpimath
pyapriltags
fastapi~=0.114.0
uvicorn~=0.30.6
dynaconf~=3.2.6
pip-tools
isort
black
flake8
platformdirs

mcap
mcap-protobuf-support~=0.5.1
foxglove-schemas-protobuf
foxglove-websocket
typing===3.7.4.1
asyncio~=3.4.3

argparse~=1.4.0
