[Unit]
Description=Iris
After=network.target

[Service]
User=root
WorkingDirectory=/app/iris
ExecStart=/app/venv/bin/python /app/iris/main.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
