/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

.edit-settings {
  display: flex;
  align-items: center;
  gap: 10px; /* optional: space between components */
}
